*{
  padding: 0;
  margin: 0;
} 
section{
  position: relative;
  width: 100%;
  background-color: #111;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}
section .row{
  position: relative;
  top: -50%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  font-size: 64px;
  white-space: nowrap;
  transform: rotate(-30deg);
}
i{
  color: #262626;
  transition: 1s;
  user-select: none;  

  padding: 0 5px;
  cursor: default;
}
i:hover{
  transition: 0s;
  color: #D93829;
  text-shadow: 0 0 120px #D93829;
}
section .row div{
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
section .row div:nth-child(2){
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate1{
  0%{
    transform: translate(100%);
  }
  100%{
    transform: translate(-100%);
  }
}
@keyframes animate2{
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(-200%);
  }
}


section .row:nth-child(even) div{
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
section .row:nth-child(even) div:nth-child(2){
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate3{
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(100%);
  }
}
@keyframes animate4{
  0%{
    transform: translate(-200%);
  }
  100%{
    transform: translate(0%);
  }
}
.btnOpenModal{
  transition: .3s;
  position:absolute;
  border: none;
  display: flex;
  justify-content: center;
  background: none;
  align-items: center;
  right: 5%;
  cursor: pointer;
  color: #fff;
  bottom: 5%;
}
.btnOpenModal span{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;

}
.btnOpenModal i{
  color: white;
  font-size: 32px;
}
.modal{
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(17, 17, 17, 0.452);
  display: flex;
  opacity:0;
  height: 0;
  transition: .4s;
  justify-content: center;
  align-items: center;
  
}
.modal.active{
  height: 100vh;
  opacity:1;
}
.modal .container-modal{
  display: flex;
}
.modal .container-modal div{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  
  min-width: 250px;
  background-color: #262626;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

}
.modal .container-modal div {
  color: white;
  gap: 32px;
}
.modal .container-modal div::before{
  content: "";
  height: 140%;
  width: 440px;
  position: absolute;
  background:#D93829;
  background: linear-gradient(#F25430, #d93828);
  animation:AnimateRotate 6s linear infinite;
}
.modal .container-modal div::after{
  content:"";
  position: absolute;
  inset: 4px;
  border-radius:5px;
  background-color: #262626;
}


@keyframes AnimateRotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.modal .container-modal div span{
  font-size: 16px;
}
.modal .container-modal button{
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  background-color:#F25430;

}
.modal .container-modal div h1,span,button{
  text-align: center;
  z-index: 1000;
}

@media (min-width:700px) {
  .modal .container-modal div{
    height: 500px;
    width: 450px;
  }
}
@media (max-width:700px) {
  .modal .container-modal h1{
    font-size: 20px;
  }
  
}
@media (max-width:400px) {
  .modal .container-modal div{
    height: 500px;
    width: 250px;
  }
}